<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.reading.stoic.stoicreading">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RufusHome" />
        <activity android:name=".SenecaHome" />
        <activity android:name=".EpictetusHome" />
        <activity android:name=".AureliusHome" />
        <activity android:name=".HieroclesHome" />
        <activity android:name=".RufusLectures.Lec1" />
        <activity android:name=".RufusLectures.LecHome" />
        <activity android:name=".RufusLectures.Lec2" />
        <activity android:name=".RufusLectures.Lec3" />
        <activity android:name=".RufusLectures.Lec4" />
        <activity android:name=".RufusLectures.Lec5" />
        <activity android:name=".RufusLectures.Lec6" />
        <activity android:name=".RufusLectures.Lec7" />
        <activity android:name=".RufusLectures.Lec8" />
        <activity android:name=".RufusLectures.Lec9" />
        <activity android:name=".RufusLectures.Lec10" />
        <activity android:name=".RufusLectures.Lec11" />
        <activity android:name=".RufusLectures.Lec12" />
        <activity android:name=".RufusLectures.Lec13" />
        <activity android:name=".RufusLectures.Lec14" />
        <activity android:name=".RufusLectures.Lec15" />
        <activity android:name=".RufusLectures.Lec16" />
        <activity android:name=".RufusLectures.Lec17" />
        <activity android:name=".RufusLectures.Lec18" />
        <activity android:name=".RufusLectures.Lec19" />
        <activity android:name=".RufusLectures.Lec20" />
        <activity android:name=".RufusLectures.Lec21" />
        <activity android:name=".RufusLectures.Lec13B" />
        <activity android:name=".RufusLectures.Lec18B" />
        <activity android:name=".HieroclesFragments.HieroclesFragmentsHome" />
        <activity android:name=".HieroclesFragments.HieroclesFragments1" />
        <activity android:name=".HieroclesFragments.HieroclesFragments2" />
        <activity android:name=".HieroclesFragments.HieroclesFragments3" />
        <activity android:name=".HieroclesFragments.HieroclesFragments4" />
        <activity android:name=".HieroclesFragments.HieroclesFragments5" />
        <activity android:name=".HieroclesFragments.HieroclesFragments6" />
        <activity android:name=".HieroclesFragments.HieroclesFragments7" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_1" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_2" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_3" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_4" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_5" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_6" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_7" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_8" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_9" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_10" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_11" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_12" />
        <activity android:name=".AureliusMeditations.AureliusMedBookHome"></activity>
    </application>

</manifest>