<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.reading.stoic.stoicreading">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RufusHome" />
        <activity android:name=".SenecaHome" />
        <activity android:name=".EpictetusHome" />
        <activity android:name=".AureliusHome" />
        <activity android:name=".HieroclesHome" />
        <activity android:name=".RufusLectures.Lec1" />
        <activity android:name=".RufusLectures.LecHome" />
        <activity android:name=".RufusLectures.Lec2" />
        <activity android:name=".RufusLectures.Lec3" />
        <activity android:name=".RufusLectures.Lec4" />
        <activity android:name=".RufusLectures.Lec5" />
        <activity android:name=".RufusLectures.Lec6" />
        <activity android:name=".RufusLectures.Lec7" />
        <activity android:name=".RufusLectures.Lec8" />
        <activity android:name=".RufusLectures.Lec9" />
        <activity android:name=".RufusLectures.Lec10" />
        <activity android:name=".RufusLectures.Lec11" />
        <activity android:name=".RufusLectures.Lec12" />
        <activity android:name=".RufusLectures.Lec13" />
        <activity android:name=".RufusLectures.Lec14" />
        <activity android:name=".RufusLectures.Lec15" />
        <activity android:name=".RufusLectures.Lec16" />
        <activity android:name=".RufusLectures.Lec17" />
        <activity android:name=".RufusLectures.Lec18" />
        <activity android:name=".RufusLectures.Lec19" />
        <activity android:name=".RufusLectures.Lec20" />
        <activity android:name=".RufusLectures.Lec21" />
        <activity android:name=".RufusLectures.Lec13B" />
        <activity android:name=".RufusLectures.Lec18B" />
        <activity android:name=".HieroclesFragments.HieroclesFragmentsHome" />
        <activity android:name=".HieroclesFragments.HieroclesFragments1" />
        <activity android:name=".HieroclesFragments.HieroclesFragments2" />
        <activity android:name=".HieroclesFragments.HieroclesFragments3" />
        <activity android:name=".HieroclesFragments.HieroclesFragments4" />
        <activity android:name=".HieroclesFragments.HieroclesFragments5" />
        <activity android:name=".HieroclesFragments.HieroclesFragments6" />
        <activity android:name=".HieroclesFragments.HieroclesFragments7" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_1" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_2" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_3" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_4" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_5" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_6" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_7" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_8" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_9" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_10" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_11" />
        <activity android:name=".AureliusMeditations.AureliusMedBook_12" />
        <activity android:name=".AureliusMeditations.AureliusMedBookHome" />
        <activity android:name=".EpictetusEnchiridion.TheEnchiridionHome" />
        <activity android:name=".EpictetusEnchiridion.TheEnchiridion_Part2" />
        <activity android:name=".EpictetusEnchiridion.TheEnchiridion_Part1" />
        <activity android:name=".EpictetusEnchiridion.TheEnchiridion_Part3" />
        <activity android:name=".EpictetusEnchiridion.TheEnchiridion_Part4" />
        <activity android:name=".EpictetusEnchiridion.TheEnchiridion_Part5" />
        <activity android:name=".SenecaOfProvidence.SenecaOfProvidenceHome" />
        <activity android:name=".SenecaOfProvidence.SenecaOfProvidence_1" />
        <activity android:name=".SenecaOfProvidence.SenecaOfProvidence_2" />
        <activity android:name=".SenecaOfProvidence.SenecaOfProvidence_3" />
        <activity android:name=".SenecaOfProvidence.SenecaOfProvidence_4" />
        <activity android:name=".SenecaOfProvidence.SenecaOfProvidence_5" />
        <activity android:name=".SenecaOfProvidence.SenecaOfProvidence_6" />
        <activity android:name=".ZenoHome" />
        <activity android:name=".ZenoQuotations.ZenoQuotations" />
        <activity android:name=".CleanthesHome" />
        <activity android:name=".CleanthesHymntoZeus.CleanthesHymntoZeus" />
        <activity android:name=".ChrysippusHome" />
        <activity android:name=".ChrysippusQuotations.ChrysippusQuotations" />
        <activity android:name=".ZenodotusHome" />
        <activity android:name=".ZenodotusEpitaph.ZenodotusEpitaph" />
        <activity android:name=".AratusPhenomena.AratusPhenomenaHome" />
        <activity android:name=".AratusHome" />
        <activity android:name=".AratusPhenomena.AratusPhenomenaChapter1" />
        <activity android:name=".AratusPhenomena.AratusPhenomenaChapter2" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaMoralLettersLuciliusHome" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_001" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_002" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_003" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_004" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_005" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_006" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_007" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_008" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_009" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_010" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_011" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_012" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_013" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_014" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_015" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_016" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_017" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_018" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_019" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_020" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_021" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_022" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_023" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_024" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_025" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_026" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_027" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_028" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_029" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_030" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_060" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_031" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_032" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_033" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_034" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_035" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_036" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_037" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_038" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_039" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_040" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_041" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_042" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_059" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_043" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_044" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_045" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_046" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_047" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_049" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_048" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_050" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_051" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_052" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_053" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_054" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_055" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_056" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_057" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_058" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_061" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_062" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_063" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_064" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_065" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_066" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_067" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_068" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_069" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_070" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_071" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_072" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_073" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_074" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_075" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_076" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_077" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_078" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_079" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_080" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_081" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_082" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_083" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_084" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_085" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_086" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_087" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_088" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_089" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_090" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_091" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_092" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_093" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_094" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_095" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_096" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_097" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_098" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_099" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_100" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_101" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_102" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_103" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_104" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_105" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_106" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_107" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_108" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_109" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_110" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_111" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_112" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_113" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_114" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_115" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_116" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_117" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_124" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_123" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_122" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_118" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_119" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_121" />
        <activity android:name=".SenecaMoralLettersLucilius.SenecaLetter_120" />
        <activity android:name=".DidymusHome" />
        <activity android:name=".DidymusEpitome.EpitomeHome" />
        <activity android:name=".DidymusEpitome.EpitomeGod" />
        <activity android:name=".DidymusEpitome.EpitomeUniverse" />
        <activity android:name=".DidymusEpitome.EpitomeSoul" />
        <activity android:name=".PosidoniusQuotations.PosidoniusQuotations" />
        <activity android:name=".PosidoniusHome" />
        <activity android:name=".SenecaOnTheShortnessOfLife.SenecaOnTheShortnessOfLifeHome" />
        <activity android:name=".SenecaOnTheShortnessOfLife.SenecaOnTheShortnessOfLife_1" />
        <activity android:name=".SenecaOnTheShortnessOfLife.SenecaOnTheShortnessOfLife_2" />
        <activity android:name=".SenecaOnTheShortnessOfLife.SenecaOnTheShortnessOfLife_3" />
        <activity android:name=".SenecaOnTheShortnessOfLife.SenecaOnTheShortnessOfLife_4" />
        <activity android:name=".SenecaOnTheShortnessOfLife.SenecaOnTheShortnessOfLife_5" />
        <activity android:name=".SenecaOnTheShortnessOfLife.SenecaOnTheShortnessOfLife_6" />
        <activity android:name=".SenecaOnTheShortnessOfLife.SenecaOnTheShortnessOfLife_7" />
        <activity android:name=".SenecaOnTheShortnessOfLife.SenecaOnTheShortnessOfLife_8" />
        <activity android:name=".SenecaOnTheShortnessOfLife.SenecaOnTheShortnessOfLife_9" />
        <activity android:name=".SenecaOnTheShortnessOfLife.SenecaOnTheShortnessOfLife_10" />
        <activity android:name=".SenecaOnTheShortnessOfLife.SenecaOnTheShortnessOfLife_11" />
        <activity android:name=".SenecaOnTheShortnessOfLife.SenecaOnTheShortnessOfLife_12" />
        <activity android:name=".SenecaOnTheShortnessOfLife.SenecaOnTheShortnessOfLife_13" />
        <activity android:name=".SenecaOnTheShortnessOfLife.SenecaOnTheShortnessOfLife_14" />
        <activity android:name=".SenecaOnTheShortnessOfLife.SenecaOnTheShortnessOfLife_15" />
        <activity android:name=".SenecaOnTheShortnessOfLife.SenecaOnTheShortnessOfLife_16" />
        <activity android:name=".SenecaOnTheShortnessOfLife.SenecaOnTheShortnessOfLife_17" />
        <activity android:name=".SenecaOnTheShortnessOfLife.SenecaOnTheShortnessOfLife_18" />
        <activity android:name=".SenecaOnTheShortnessOfLife.SenecaOnTheShortnessOfLife_19" />
        <activity android:name=".SenecaOnTheShortnessOfLife.SenecaOnTheShortnessOfLife_20" />
        <activity android:name=".SenecaOnTheFirmnessOfTheWiseMan.SenecaOnTheFirmnessOfTheWiseManHome" />
        <activity android:name=".SenecaOnTheFirmnessOfTheWiseMan.SenecaOnTheFirmnessOfTheWiseMan_1" />
        <activity android:name=".SenecaOnTheFirmnessOfTheWiseMan.SenecaOnTheFirmnessOfTheWiseMan_2" />
        <activity android:name=".SenecaOnTheFirmnessOfTheWiseMan.SenecaOnTheFirmnessOfTheWiseMan_3" />
        <activity android:name=".SenecaOnTheFirmnessOfTheWiseMan.SenecaOnTheFirmnessOfTheWiseMan_4" />
        <activity android:name=".SenecaOnTheFirmnessOfTheWiseMan.SenecaOnTheFirmnessOfTheWiseMan_5" />
        <activity android:name=".SenecaOnTheFirmnessOfTheWiseMan.SenecaOnTheFirmnessOfTheWiseMan_6" />
        <activity android:name=".SenecaOnTheFirmnessOfTheWiseMan.SenecaOnTheFirmnessOfTheWiseMan_7" />
        <activity android:name=".SenecaOnTheFirmnessOfTheWiseMan.SenecaOnTheFirmnessOfTheWiseMan_8" />
        <activity android:name=".SenecaOnTheFirmnessOfTheWiseMan.SenecaOnTheFirmnessOfTheWiseMan_9" />
        <activity android:name=".SenecaOnTheFirmnessOfTheWiseMan.SenecaOnTheFirmnessOfTheWiseMan_10" />
        <activity android:name=".SenecaOnTheFirmnessOfTheWiseMan.SenecaOnTheFirmnessOfTheWiseMan_11" />
        <activity android:name=".SenecaOnTheFirmnessOfTheWiseMan.SenecaOnTheFirmnessOfTheWiseMan_12" />
        <activity android:name=".SenecaOnTheFirmnessOfTheWiseMan.SenecaOnTheFirmnessOfTheWiseMan_13" />
        <activity android:name=".SenecaOnTheFirmnessOfTheWiseMan.SenecaOnTheFirmnessOfTheWiseMan_14" />
        <activity android:name=".SenecaOnTheFirmnessOfTheWiseMan.SenecaOnTheFirmnessOfTheWiseMan_15" />
        <activity android:name=".SenecaOnTheFirmnessOfTheWiseMan.SenecaOnTheFirmnessOfTheWiseMan_16" />
        <activity android:name=".SenecaOnTheFirmnessOfTheWiseMan.SenecaOnTheFirmnessOfTheWiseMan_17" />
        <activity android:name=".SenecaOnTheFirmnessOfTheWiseMan.SenecaOnTheFirmnessOfTheWiseMan_18" />
        <activity android:name=".SenecaOnTheFirmnessOfTheWiseMan.SenecaOnTheFirmnessOfTheWiseMan_19" />
        <activity android:name=".EpictetusDiscourses.DiscoursesHome" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_Home" />
        <activity android:name=".EpictetusDiscourses.BookFour.BookFour_Home" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_Home" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_Home" />
        <activity android:name=".EpictetusDiscourses.BookFour.BookFour_1" />
        <activity android:name=".EpictetusDiscourses.BookFour.BookFour_2" />
        <activity android:name=".EpictetusDiscourses.BookFour.BookFour_3" />
        <activity android:name=".EpictetusDiscourses.BookFour.BookFour_4" />
        <activity android:name=".EpictetusDiscourses.BookFour.BookFour_5" />
        <activity android:name=".EpictetusDiscourses.BookFour.BookFour_6" />
        <activity android:name=".EpictetusDiscourses.BookFour.BookFour_7" />
        <activity android:name=".EpictetusDiscourses.BookFour.BookFour_8" />
        <activity android:name=".EpictetusDiscourses.BookFour.BookFour_9" />
        <activity android:name=".EpictetusDiscourses.BookFour.BookFour_10" />
        <activity android:name=".EpictetusDiscourses.BookFour.BookFour_11" />
        <activity android:name=".EpictetusDiscourses.BookFour.BookFour_12" />
        <activity android:name=".EpictetusDiscourses.BookFour.BookFour_13" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_1" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_2" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_3" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_4" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_5" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_6" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_7" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_8" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_9" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_10" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_11" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_12" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_13" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_14" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_15" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_16" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_17" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_18" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_19" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_20" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_21" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_22" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_23" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_24" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_25" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_26" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_27" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_28" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_29" />
        <activity android:name=".EpictetusDiscourses.BookOne.BookOne_30" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_1" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_2" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_3" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_4" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_5" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_6" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_7" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_8" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_9" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_10" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_11" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_12" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_13" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_14" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_15" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_16" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_17" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_18" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_19" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_20" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_21" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_22" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_23" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_24" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_25" />
        <activity android:name=".EpictetusDiscourses.BookTwo.BookTwo_26" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_1" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_2" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_3" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_4" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_5" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_6" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_7" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_26" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_8" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_9" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_10" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_11" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_12" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_13" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_14" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_15" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_16" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_17" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_18" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_19" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_20" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_21" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_22" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_23" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_24" />
        <activity android:name=".EpictetusDiscourses.BookThree.BookThree_25" />
        <activity android:name=".CleanthesQuotations.CleanthesQuotations" />
        <activity android:name=".PanaetiusHome" />
        <activity android:name=".PanaetiusQuotations.PanaetiusQuotations" />
        <activity android:name=".AttalusHome" />
        <activity android:name=".AttalusOnRiches.AttalusOnRiches" />
        <activity android:name=".AttalusQuotations.AttalusQuotations"></activity>
    </application>

</manifest>